<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Watermark.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Watermark.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Watermark.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilepic</servlet-name>
        <servlet-class>Watermark.Profilepic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allow</servlet-name>
        <servlet-class>Watermark.Allow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Block</servlet-name>
        <servlet-class>Watermark.Block</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login1</servlet-name>
        <servlet-class>Watermark.login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hideimage</servlet-name>
        <servlet-class>Watermark.hideimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadn</servlet-name>
        <servlet-class>Watermark.uploadn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDONLOAD</servlet-name>
        <servlet-class>Watermark.UDONLOAD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllowProfile</servlet-name>
        <servlet-class>Watermark.AllowProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Watermark.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilepic</servlet-name>
        <url-pattern>/Profilepic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allow</servlet-name>
        <url-pattern>/Allow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Block</servlet-name>
        <url-pattern>/Block</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login1</servlet-name>
        <url-pattern>/login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hideimage</servlet-name>
        <url-pattern>/hideimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadn</servlet-name>
        <url-pattern>/uploadn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDONLOAD</servlet-name>
        <url-pattern>/UDONLOAD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllowProfile</servlet-name>
        <url-pattern>/AllowProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
